body {
  background-color: #f5f4fa;
  color: #212121;
}

/* цвет основного текста  #212121 */

/* цвет вторичного текста  #757575 */

/* после цвет текста  #FFFFFF */

/* акцент цвета #F5F4FA */

/* вторичный акцент #2F303A */

/* потом цвет акцента (фона) #2196F3 */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  color: #2196f3;
}

.partlogo {
  color: #212121;
}

.logo .partlogo:hover,
.logo .partlogo:focus {
  color: #2196f3;
}

/* site-nav */

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* list-button */
.list-button {
  color: #212121;
}

.list-button:hover,
.list-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* features */
.features {
  list-style: none;
}
